body {
  background: #FFF;
}

.slide {
  background: #FFF;
}

.black {
  background: #000;
  color: #FFF;
}

.what_head {
  height: 477px;
  width: 500px;
  background: transparent url("images/what.png") no-repeat bottom left;
  margin: 0 auto;
}

.creepy {
  background: #000 url("images/creepy.png") no-repeat bottom left;
  margin: 0 auto;
}

.revolution {
  background: transparent url("images/revolution.png") no-repeat center left;
  margin: 0 auto;
  padding-left: 300px;
}

.focus_on_the_app {
  background: url("images/app.png") no-repeat center right;
  margin: 0 auto;
  padding: 0;
  padding-right: 250px;
}

.managers_manage {
  background: url("images/server_managers.png") no-repeat center left;
}
.managers_manage h1 {
  background: #000;
  margin: 20px;
  padding: 20px;
  color: #FFF;
}

.fast_deployment {
  background: url("images/fast_deployment.png") no-repeat center right;
  padding-right: 550px;
}

.built_for_scale {
  background: url("images/scale.png") no-repeat center left;
  padding-left: 200px;
}

.fail_whale {
  background: url("images/fail_whale.png") no-repeat center left;
}

.ready_to_go {
  background: url("images/ready_to_go.png") no-repeat center bottom;
  color: #FFF;
  position: relative;
}
.ready_to_go h1 {
  position: absolute;
  bottom: 5px;
  right: 200px;
}
.deploy_time {
  background: url("images/deploy_time.png") no-repeat center right;
  padding-right: 400px;
  margin-right: 100px;
}

.bee {
  position: relative;
}

.bee .bee_text {
  position: absolute;
  top: 250px;
  left: 440px;
}

.railgun {
  background: url("images/railgun.png") no-repeat center left;
}

.railgun h1 {
  background: #000;
  margin: 20px;
  padding: 20px;
}

.cont_deployment {
  background: url("images/cont_deployment.png") no-repeat center left;
}

.cont_deployment h1 {
  background: #FFF;
  margin: 20px;
  padding: 20px;
}

.over_provision {
  background: url("images/reaper.png") no-repeat center right;
  padding-right: 400px;
}

.moo {
  background: url("images/moo.png") no-repeat center right;
}
.moo h1 {
  background: #FFF;
  margin: 20px;
  padding: 20px;
}

.app_mon img {
  width: 1024px;
  height: 640px;
}

.dashboard img {
  width: 1024px;
  height: 640px;
}
.thanks { position: relative; }
.right_footer {
  position: absolute;
  right: 50px;
  top: 600px;
  font-size: 1.9em;
}

#preso img {
  width: 1024px;
  height: 640px;
}